*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa' , cursive;
}
#mag{
    margin-right:30px; 
}
.ma{
    margin-left:30px; 
}
.container-fluid{
    width: 100%;
    background: #111;
    color: #fff;
}
.navbar{
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: rgb(73, 72, 74);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; 
}
.navbar ul li{
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}
.navbar ul li:hover{
    color: #e33;
}
.navbar .btn{
    width: 100px;
    height: 30px;
    background: #e33;
    border-radius: 25px;
    border: 2px solid #e33;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    color: #fff; 
}
.navbar .btn:hover{
    background: #e11;
}
.content{
    width: 1200px;
    margin: auto;
    display: flex;
}
.content h3{
    padding-top: 150px;
    font-size: 20px;
}
.content h1{
    font-size: 70px;
    font-weight: bold;
    padding-top: 20px;
}
.content span{
    color: #e33;
}
.content h4{
    font-size: 20px;
    padding-top: 20px;
}
.content input{
    margin-top: 50px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    outline: none;
    padding: 23px;
}
.content input::placeholder{
    color: #fff;
}
.content button{
    width:80px;
    height: 40px;
    border-radius: 10px;
    background-color: #e33;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left: -148px;
    border: 2px solid #e33;
    transition: .5s;
    color: #fff; 
}
.content button:hover{
    background: #e11;
}
.content img{
    /* top: 300px; */
    margin-left: 200px;
    width: 400px;
}
.about{
    width: 100%;
    background: #222;
}
.about .cont{
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 50px;
}
.cont img{
    width: 500px;
    margin-top: 100px;
}
.cont h1{
    color: #fff;
    padding-top: 88px;
    font-weight: bold;
    font-size: 40px;
    padding-left: 100px;
}
.cont h3{
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    padding-top: 30px;
}
.cont button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #e33;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid #e33;
    transition: .5s;
    color: #fff;
    margin-left: 100px;
    margin-right: 30px;
}
.cont button:hover{
    background: #e11;
}
.service{
    width: 100%;
    background: #111;
    padding: 50px 0px;
}
.service .text{
    width: 1200px;
    margin: auto;
    padding: 25px 0px;
}
.service h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.service .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.service .box div{
    width: 350px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
}
.service .box div ion-icon{
    color: #e33;
    font-size: 50px;
    padding-top: 20px;
}
.service .box div h2{
    font-weight: bold;
    cursor: pointer;
    padding-top: 20px;
}
.service .box div p{
    color: #111;
    line-height: 25px;
    padding: 30px;
    font-weight: bold;
    font-family: arial;
}
.site-footer {
    background-color: #838383;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;
  }
  
  #social-wrapper {
      text-align: center;
  }
  
  /*Social Media Icons*/
  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .googleplus-icon,
  .youtube-icon,
  .foursquare-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .googleplus-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  .footer-nav p {
      text-align: center;
  }
  .img{
    margin-top: 100px;  }

    .textco{
        color: white;
    }